<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inside</servlet-name>
        <servlet-class>Servlet.Inside</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Servlet.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friend</servlet-name>
        <servlet-class>Servlet.Friend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFriend</servlet-name>
        <servlet-class>Servlet.newFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unfriend</servlet-name>
        <servlet-class>Servlet.Unfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFriend</servlet-name>
        <servlet-class>Servlet.newFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addfriend</servlet-name>
        <servlet-class>Servlet.Addfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Servlet.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>Servlet.viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>Servlet.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Likes</servlet-name>
        <servlet-class>Servlet.Likes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inside</servlet-name>
        <url-pattern>/Inside</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Friend</servlet-name>
        <url-pattern>/Friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFriend</servlet-name>
        <url-pattern>/addFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unfriend</servlet-name>
        <url-pattern>/Unfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFriend</servlet-name>
        <url-pattern>/newFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addfriend</servlet-name>
        <url-pattern>/Addfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Likes</servlet-name>
        <url-pattern>/Likes</url-pattern>
    </servlet-mapping>
</web-app>
