@import url("common.css");
@import url("topbar.css");

.post-handle {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.posting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.posting form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.posting textarea {
  width: 50%;
  height: 90%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  margin-right: 2%;
}

.posting input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  flex: none;
  background-color: #6a82fb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.posting input[type="image"]:hover {
  background-color: #1e3c72;
}

.posts .post {
  padding: 2%;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.posts h3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts .post p {
  margin: 0;
  line-height: 1.6;
}

.posts .post .post-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.posts .post .post-info .post-date{
  margin-top:15px;
}

.posts .post .post-info .like-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.posts .post .post-info .like-info .likes{
  font-size: medium;
  padding-top: 10px;
}

.posts .post .post-info .like-info input[type="image"] {
  height: 35px;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 530px;
}
.container::-webkit-scrollbar {
  width: 0;
}
