@import url("common.css");
@import url("topbar.css");
.displayNewFriend {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-left: 150px;
}
.displayNewFriend p {
  margin: 0;
  line-height: 1.6;
}
.displayNewFriend h3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.displayNewFriend form {
  display: flex;
  align-items: center;
}

.displayNewFriend input[type="submit"] {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #6a82fb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.displayNewFriend input[type="submit"]:hover {
  background-color: #1e3c72;
}
